.receipt {
    font-size: 0.85rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

.receipt-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .receipt-row-title-full {
        min-width: 100%;
    }
    &.separator {
        width: 100%;
        border-bottom: 2px dashed rgba(0, 0, 0, 1);
        margin: 10px 1px;
    }
    &.sub-separator {
        width: 30%;
        border-bottom: 2px dashed rgba(0, 0, 0, 1);
        margin: 10px 1px;
    }
}